<module xmlns="urn:jboss:module:1.0" name="${module.name}" slot="${module.slot}">
  <resources>
    <resource-root path="${project.build.finalName}.jar" />
  </resources>

  <dependencies>
    <module name="org.soulwing.pinject.api" />
    <module name="javax.inject.api" />
    <module name="javax.enterprise.api" />
    <module name="org.glassfish.javax.el"/>
    <module name="javax.ejb.api" />
    <module name="javax.mail.api" />
    <module name="javax.api" />
  </dependencies>

</module>
