<module xmlns="urn:jboss:module:1.0" name="${module.name}" slot="${module.slot}">

  <resources>
    <resource-root path="${project.build.finalName}.jar" />
  </resources>

  <dependencies>
    <module name="javax.inject.api" />
    <module name="javax.enterprise.api" />
    <module name="javax.api" />
  </dependencies>

</module>
